/* Stylesheet */
@media (min-width: 1200px) {

	.hide-lg {
		display: none;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {

	.hide-lg {
		display: none;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.hide-md {
		display: none;
	}

}

@media (max-width: 767px) {

	.hide-sm {
		display: none;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	.hide-xs {
		display: none;
	}

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption,  header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
 header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.text-content {
	font-size: 15px !important;
}

#wrapper {
	padding: 0;
	margin: 0;
}

header {
	height: 50px;
	background-color: transparent;
	position: absolute;
}

#logo {
	height: 150px;
	width: 150px;
	margin: 100px auto 0;
}

nav {
	/*width: 750px;*/
	/*margin: 0 auto !important;*/
}

nav ul li a {
	font-family: "Helvetica";	
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 0px 15px rgb(255, 255, 255);
}

.nav {
	width: 900px;
	/*margin: 0 auto !important;*/
	margin-left: auto !important;
	margin-right: auto !important;
}

.navbar-nav li {
	margin-right: 15px;
}

.navbar-nav li:last-of-type {
	margin-right: 0;
}

.navbar-nav li a:focus {
	background: transparent !important;
	outline: none;
}

.navbar-nav li a:hover {
	background: transparent;
	color: #0000ff;
	text-shadow: 3px -1px 25px #fff;
	outline: none;
	text-decoration: none;
}

.dropdown-content {
	position: relative;
}

.dropdown-content li {
	text-align: center;
	padding: 10px;
}

/* content */
#main {
	padding: 17px 0;
	margin-bottom: 150px;
}

#mainContent {
	position: relative;
	height: 340px;
	width: 90%;
	margin: auto;
}
/*#mainContentLeft {*/
#image1 {
/*	background-image: url('../images/image_1.png');
	width: 436px;
	height: 411px;
	top: -75px;
	position: absolute; */
}

#mainContentRight {
	margin: 20px 0;
}

.agp-logo {
/*	background-image: url('../images/agp_logo.png');
	width: 291px;
	height: 96px;*/
}

.agp-title {

}

.agp-title span {
	font-style: italic;
	font-weight: 700;
	font-size: 30px;
	color: red;
}

span.agp-subtitle {
	font-weight: 400;
	font-size: 25px;
	color: blue;
}

.contact-address span {
	font-size: 18px;
	color: #000;
}

.contact-numbers span {
	font-size: 24px;
	font-weight: 700;
	color: #000;
}

.list-group-item {
	border: none !important;
}

/* footer */
footer {
	padding: 0 !important;
}

#footer {
	position: fixed;
	float: left;
	width: 340px;
}

#footer ul {
	padding: 10px 0;
}

#footer ul li {
	display: inline;
}

#footer ul li a {	
	text-decoration: none;
}

/* Design Overwrite */
.carousel-indicators li {
	border-radius: 0px !important;
}

.carousel-indicators {
	/*margin-left: 0 !important;*/
}

.carousel-inner {
	height: 400px;
}

.navbar-nav {
    float: none !important;
}

.page-title {
	font-size: 24px !important;
	margin-bottom: 10px !important;
	background: linear-gradient(to right, rgba(51, 122, 183, 0.62) , white);
    padding: 10px;
    margin-left: -10px;
}

/* Custom CSS */
.mb10 {
	margin-bottom: 10px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}
.mb50 {
	margin-bottom: 50px !important;
}
.mt5 {
	margin-top: 5px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mr30 {
	margin-right: 30px !important;
}
.p0 {
	padding: 0px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.pt0 {
	padding-top: 0px !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pt15 {
	padding-top: 15px !important;
}
.pt20 {
	padding-top: 20px !important;
}
.pt30 {
	padding-top: 30px !important;
}
.pt35 {
	padding-top: 35px !important;
}
.pt50 {
	padding-top: 50px !important;
}
.pt75 {
	padding-top: 75px !important;
}
.pl0 {
	padding-left: 0px !important;
}
.pr0 {
	padding-right: 0px !important;
}
.plr0 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
h4 {
	font-weight: bold;
}

.text-content-about {
	font-size: 18px !important;
}

#logo {
	position: absolute;
	left: 30%;
	z-index: 10;
	width: 100%;
	pointer-events: none;
}
.menu-header {
	background: #f4bf7c;
    border-radius: 0px;
	position: absolute;
	right: 0;
	left: 0;
	z-index: 10;
}