<!DOCTYPE html>
<html ng-app="jmciApp">
<head>
	<title>AGP JMCI Elevators</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css">
	<base href="/jmci/jmci/">
</head>
<body>
<div ng-controller="MainController" id="wrapper">
	<!-- Header and Carousel-->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="background-color:black">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div id="logo"><img class="mr30" src="images/agp_logo.png"><img src="images/logo1.png"></div>
			<div class="item active">
				<img src="images/banner/elevator1.jpg" alt="...">
			</div>
			<div class="item">
				<img src="images/banner/elevator2.jpg" alt="...">
			</div>
			<div class="item">
				<img src="images/banner/elevator3.jpg" alt="...">
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<nav class="navbar menu-header">
		<div class="container-fluid">
			<div class="navbar-header">
			</div>

			<ul class="nav navbar-nav">
				<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
				<li><a href="#about" ng-click=""><i class="fa fa-shield"></i>About Us</a></li>
				<li><a href="#products"><i class="fa fa-shield"></i>Products</a></li>
				<li><a href="#services"><i class="fa fa-shield"></i>Services</a></li>
				<li><a href="#clients"><i class="fa fa-shield"></i>CLients</a></li>
				<li><a href="#affiliates"><i class="fa fa-shield"></i>Affiliates</a></li>
				<!-- <li><a id="clients" class="pb10" href="#clients" ng-mouseover="hoverAffliateClientIn()" ng-class="{ disabled : disabled }" ng-mouseleave="hoverAffliateClientOut()"><i class="fa fa-shield"></i>Affliates/Clients</a>
					<ul class="dropdown-content" ng-show="showAffliatesClients" ng-mouseover="hoverAffliateClientIn()" ng-mouseleave="hoverAffliateClientOut()">
						<li class="pt0" style="display:inline-block;margin-right: 0px;padding-right: 0px;">
							<a href="#clients" style="padding-left: 4px;">Clients</a>
						</li>
						<li class="pt0" style="display:inline-block;margin-right: 0px;padding-left: 0px;padding-right: 0px;">
						|
						</li>
						<li class="pt0" style="display:inline-block;margin-right: 0px;padding-left: 0px;padding-right: 0px;">
							<a href="#affiliates">Affiliates</a>
						</li>
					</ul>
				</li> -->
				<li><a href="#contact"><i class="fa fa-comment"></i>Contact Us</a></li>
			</ul>
		</div>
	</nav>
	<!-- Content -->

	<div ng-view id="main" class="container pt75"></div>

	<!-- Footer -->
	<!-- <footer class="footer">
		<div class="container">
			<ul>
				<li><a href="#">Privacy</a></li>
				<li>|</li>
				<li><a href="#">Terms of Use</a></li>
				<li>|</li>
				<li><a href="#">Suggestions</a></li>
				<li>|</li>
				<li><a href="#">Site Map</a></li>
			</ul>
		</div>
	</footer> -->
	<footer class="footer">
		<div class="container">
			<ul>
				<li><a href="#">About Us</a></li>
				<li>|</li>
				<li><a href="#">Services</a></li>
				<li>|</li>
				<li><a href="#">Affiliates/Clients</a></li>
				<li>|</li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</footer>
</div>
<script src="assets/js/angular.min.js"></script>
<script src='assets/js/angular-route.min.js'></script>
<script src="assets/js/angular-sanitize.min.js"></script>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.js"></script>
<script src="js/custom.js"></script>
<script src="js/controllers.js"></script>
<script src="js/routes.js"></script>
</body>
</html>