<div id="about" class="containter">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<div class="col-sm-12 col-md-7 text-content-about">
				<h3 class="page-title">About AGP-JMCI </h3>
				<p>
					For more than 5 years, <b>AGP Elevator Supply and JMCI</b> have been active in providing, planning and design, project management, project construction and allied services in commercial and industrial projects. Its expertise is the integration and synchronization of all technical works and the supervision of all aspects of project evaluation on a 24/7 basis.
				</p>
				<br>
				<p>
					Likewise, <b>AGP Elevator Supply and JMCI</b> is uniquely suited to offer a new generation integrated control system, multi-disciplinary elevator installation, servicing and maintenance of vertical transport systems, technical expertise, and engineering service that is hard to match. This is coupled with <b>AGP Elevator Supply and JMCI</b> philosophy of providing clients with the state of the art and quality equipment, efficient after sales service, and culture based maintenance program.
				</p>
				<br>
				<p>
					<b>AGP Elevator Supply and JMCI</b> has linked up with global partners who have given new products, various elevator spare parts and brands, technologies to answer the needs of its customers that require the highest degree of providing quality products and reliability in terms of service.
				</p>
				<br>
				<p>
					<b>AGP Elevator Supply and JMCI</b> is proud of its ability to answer the needs of its clients that require the highest degree of quality that comes at a fair price. This is something that it’s many clients and end-users can bear witness to.
				</p>
			</div>
			<div class="col-md-5">
				<img class="img-responsive hide-xs hide-sm hide-md" src="images/about2.jpg">
			</div>
		</div>
	</div>
</div>
