<div id="affliates" class="containter">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<div class="col-md-12 text-content">
				<h3 class="page-title">Affiliates</h3>
				<div class="row">
					<div class="col-xs-5 col-sm-3 col-md-3">
						<img class="col-xs-9 col-sm-9 col-md-9" src="images/affiliates/asia-fuji.jpg">
					</div>
					<div class="col-xs-7 col-sm-3 col-md-3 pt35">
						<img class="col-xs-9 col-sm-9 col-md-9" src="images/affiliates/delta-electronics.png">
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3 hide-sm hide-xs pt35">
						<img class="col-xs-9 col-sm-9 col-md-9" src="images/affiliates/gyg-elevators.png">
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3 hide-sm hide-xs">
						<img class="col-xs-9 col-sm-9 col-md-9" src="images/affiliates/monarch.png">
					</div>
				</div>
				<div class="row hide-md hide-lg">
					<div class="col-xs-6 col-sm-3 col-md-3">
						<img class="col-xs-9 col-sm-9 col-md-9 pt35 hide-md hide-lg" src="images/affiliates/gyg-elevators.png">
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<img class="col-xs-9 col-sm-9 col-md-9 hide-md hide-lg" src="images/affiliates/monarch.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>