<div id="clients" class="containter">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<div class="col-md-12">
			</div>
			<div class="col-md-12 text-content">
				<h3 class="page-title">Clients</h3>
				<div class="row mb40">
					<div class="row hide-xs">
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/amang-rodriguez-hospital.jpg">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/amkor-philippines.jpg">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/amway-philippines.png">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/aziza-logo.jpg">
						</div>
					</div>
					<div class="row hide-xs">
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12 pt20" src="images/clients/national-book-store.png">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/villa-caceres-hotel.jpg">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/lloyd-laboratories.jpg">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/v-luna-general-hospital.jpg">
						</div>
					</div>
					<div class="row hide-xs">
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12 pt15" src="images/clients/makati-medical-center.jpg">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/manila-ocean-park.png">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/southern-luzon-state-university.gif">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 pl0">
							<img class="col-xs-9 col-sm-9 col-md-12 pt10" src="images/clients/lufthansa.jpg">
						</div>
					</div>
					<div class="row hide-xs">
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/bir-ph.png">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/gsis.png">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12 pt30" src="images/clients/national-priting-office.jpg">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/dr-jose-n-rodriguez-memorial-hospital.png">
						</div>
					</div>
					<div class="row hide-xs mt5">
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12 pt10" src="images/clients/newcore-industries-ph.png">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12 pt30" src="images/clients/boysenlogo.png">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/northfield-laboratories.jpg">
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/rustans.jpg">
						</div>
					</div>
					<div class="row hide-xs">
						<div class="col-xs-offset-1 col-xs-3 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/philippine-red-cross.png">
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/shopwise.jpg">
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/fontana-lpc-logo.jpg">
						</div>
					</div>
					<div class="row hide-xs">
						<div class="col-xs-4 col-sm-4 col-md-4">
							<img class="col-xs-9 col-sm-9 col-md-12 pt10" src="images/clients/poea.jpg">
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/gp-genesis-dialysis-center.png">
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/star-cruises.jpg">
						</div>
					</div>
					<div class="row hide-xs">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/samsung.gif">
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<img class="col-xs-9 col-sm-9 col-md-12" src="images/clients/mariano-marcos-memorial-medical-center.png">
						</div>
					</div>
				</div>
				<div class="row mb10 pb10" ng-repeat="c in clients">
					<div class="col-sm-6 col-md-6">
						<div ng-bind-html="c.company">{{ c.company }}</div>
						<div ng-bind-html="c.address">{{ c.address }}</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div ng-repeat="p in c.products" ng-bind-html="p">{{ p }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>