<div id="contact" class="containter">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<div class="col-sm-12 col-md-8">
				<div class="row">
					<div class="col-sm-10 col-md-10 p0">
						<div class="col-md-4">
							<img class="img-responsive" src="images/agp_logo.png">
						</div>
						<div class="col-md-8 agp-title">
							<span>Elevator Supply and Installation Services</span>
						</div>
						<div class="col-md-12">
							<span class="agp-subtitle">Elevator Construction / Modernization and Maintenance</span>
						</div>
						<div class="col-md-12">
							<h4 class="list-group-item-heading">631 Honorio Lopez Blvd. Northbay Shopping Center, Tondo Manila</h4>
						</div>
					</div>
					<div class="col-sm-2 col-md-2">
						<img class="img-responsive" src="images/logo100x100.png">
					</div>
				</div>
				<div class="row">
					<div class="list-group-item">
						<h4 class="list-group-item-heading">Phone Number</h4>
						<p class="list-group-item-text">(02) 522 1828</p>
					</div>
					<div class="list-group-item">
						<h4 class="list-group-item-heading">Telefax Number</h4>
						<p class="list-group-item-text">(02) 521 9694</p>
					</div>
					<div class="list-group-item">
						<h4 class="list-group-item-heading">Email Address</h4>
						<p class="list-group-item-text">agpgreatelevator_joel@yahoo.com</p>
						<p class="list-group-item-text">direct.jmci@gmail.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<img class="img-responsive hide-xs hide-sm hide-md" src="images/contact2.jpg">
			</div>
		</div>
	</div>
</div>