<div id="mainContentLeft" class="col-xs-12 col-sm-6 col-md-5">
	<img id="image1" class="img-responsive container-fluid" src="images/image_1.png" width="436" height="411">
</div>
<div id="mainContentRight" class="col-xs-12 col-sm-6 col-md-7">
	<div class="row">
		<div class="container-fluid agp-logo">
			<img class="img-responsive" src="images/agp_logo.png" width="291" height="96">
		</div>
		<div class="container-fluid agp-title">
			<span>Elevator Supply and Installation Services</span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12" style="margin-top: 40px; text-align: center;">
			<!-- <span class="content-text" style="font-size: 30px !important;">Expert in the Preventive Maintenance Program of All other Brand with Original Equipment Manufacture Replacement Parts on stock!</span> -->
			<span class="content-text" style="font-size: 30px !important;">Maintenance &#183; Construction &#183; Service</span>
		</div>
		<!-- <div class="col-sm-12 col-md-3">
			<img id="image2" class="img-responsive" src="images/asiafuji.png" width="146" height="177">
		</div> -->
	</div>
</div>