<div id="services" class="containter">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-md-offset-1">
			<div class="col-md-8 text-content">
				<h3 class="page-title">Services</h3>
				<div class="row mb10 pb10" ng-repeat="s in services">
					<div class="col-md-6">
						<div ng-bind-html="s.company">{{ s.company }}</b></div>
						<div>{{ s.address }}</div>
					</div>
					<div class="col-md-6">
						<div ng-repeat="p in s.products" ng-bind-html="p">{{ p }}</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<img class="img-responsive hide-xs hide-sm hide-md" src="images/services2.jpg">
			</div>
		</div>
	</div>
</div>